<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

        <%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
<div class="col-md-9">
  <div class="still card">
    <%if (receivedRequests.length > 0){%>
      <h2> USERS WANTING TO CONNECT WITH YOU!</h2>
      <% for(var i=0; i< discover.length; i++) { %>
        <div class="card users">
          <img class="profileImg"src="../<%= discover[i].imgPath%>">
          <div class="card-body">
            <a href="../profile/<%= discover[i].username %>"><h4 class="card-title"><%= discover[i].firstname %> <%= discover[i].lastname %> </h4></a>
            <h5 class="card-text"><%= discover[i].who %></h5>
              <div class="card-links">
              <% for(var j=0; j< discover[i].field.length; j++) { %>
                    <% if (typeof discover[i].field != "string") { %>
                      <span><a href="../meet/<%=  discover[i].field[j] %> "><%=  discover[i].field[j] %></a> | </span>
                  <% }else{%>
                      <span><a href="../meet/<%=  discover[i].field %> "><%=  discover[i].field %></a> </span>
                      </div>
                    <% break%>
                  <% }%>
                </div>
              <% }%>
              </div>
              <button data-email="<%= discover[i].username%>" class="accept-btn btn btn-info">ACCEPT!</button>
              <button data-email="<%= discover[i].username%>" class="decline-btn btn btn-danger">DECLINE</button>
              </div>
              <% } %>
                </div>
      <%}%>
    <%console.log(receivedRequests, "RECEIVED REQ", sentRequests, "SENT REQ")%>
  <%if(receivedRequests.length == 0){%>
      <h2>NO CONNECTIONS</h2>
        <p>You have not received connections!</p>
        <%}
    if(sentRequests.length > 0){%>
        <h2>PENDING CONNECTIONS</h2>
          <% for(var i=0; i< sentRequests.length; i++) { %>
            <div class="card users">
              <img class="profileImg"src="../<%= sentRequests[i].imgPath%>">
              <div class="card-body">
                <a href="../profile/<%= sentRequests[i].username%>"><h4 class="card-title"><%= sentRequests[i].firstname %> <%= sentRequests[i].lastname %> </h4> </a>
                <h5 class="card-text"><%= sentRequests[i].who %></h5>
                  <button class="disabled btn btn-info">PENDING</button>
                  </div>
                    </div>
                  <% } %>
          <%}%>





</section>

<%- include('footer'); -%>
