<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

<%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
<div class="col-md-9">
  <div class="still card">
              <h2>MEET USERS!</h2>
              <form class="form-group d-flex" action="/search" method="post">
              <div class="form-group form-inline my-2 my-lg-0">
              <label for="whoFilter">Type</label>
              <select class="form-control" name="whoFilter" id="whoFilter">
                  <option value="Business">Business</option>
                  <option value="Mentor">Mentor</option>
                  <option value="Mentee">Mentee</option>
                </select>
              </div>
              <div class="form-group form-inline my-2 my-lg-0">
              <label for="fieldFilter">Field</label>
              <select class="form-control" name="fieldFilter" id="fieldFilter">
                  <option value="STEM">STEM</option>
                  <option value="Humanities">Humanities</option>
                  <option value="Arts">The Arts</option>
                  <option value="Education">Education</option>
                  <option value="Policy">Policy</option>
                </select>
              </div>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>


            <% for(var i=0; i< discover.length; i++) { %>
              <div class="card users">
                <img class="profileImg"src="../<%= discover[i].imgPath%>">
                <div class="card-body">
                  <h4 class="card-title"><%= discover[i].firstname %> <%= discover[i].lastname %> </h4>
                  <h5 class="card-text"><%= discover[i].who %></h5>

              <% for(var j=0; j< discover[i].field.length; j++) { %>
                <div class="card-links">
                    <% if (typeof discover[i].field != "string") { %>
                      <span><a href="../meet/<%=  discover[i].field[j] %> "><%=  discover[i].field[j] %></a> | </span>

                  <% }else{%>
                      <span><a href="../meet/<%=  discover[i].field %> "><%=  discover[i].field %></a> | </span>
                      </div>
                    <% break%>

                  <% }%>
                </div>
              <% }%>
              <a href="../profile/<%= discover[i].username%>" class="btn btn-info">CONNECT</a>
                </div>
              </div>
    <% } %>
              </div>
              </section>







<%- include('footer'); -%>
