<%- include('header'); -%>

<%- include('nav'); -%>

  <section class="main bg">

    <%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
<div class="col-md-9">
  <div class="still card">
         <h2>YOUR MESSAGES</h2>
         <%if(profile[0].connections.length ==0){%>
           <p>Make connections to chat with others!</p>
         <%}else if (profile[0].connections.length >0){%>
         <p>Chat with your Connections!</p>
           <% for(var i=0; i< connections.length; i++) { %>
                  <div class="card users">
                    <img class="profileImg"src="../<%= connections[i].imgPath%>">
                    <div class="card-body">
                      <h4 class="card-title"><%= connections[i].firstname %> <%= connections[i].lastname %> </h4>
                      <h5 class="card-text"><%= connections[i].who %></h5>
                        <a href="../messages/<%= connections[i].username %>" class=" btn btn-info">Go To Messages</a>
                        </div>
                        </div>
                      <% } %>
            <% } %>
        </div>


  </section>

<%- include('footer'); -%>
