<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

       <%- include('sidebar'); -%>

<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
          <!-- <div class="col-md-9"> -->
            <div class="col-md-9 still card">

            <div class="card-deck card odd">
               <h2>Today's Random Shuffle!</h2>
               <div class="row">
                 <% for(var i=0; i< discover.length; i++) { %>
                   <div class="card users">
                     <img class="profileImg"src="../<%= discover[i].imgPath%>">
                     <div class="card-body">
                       <h4 class="card-title"><%= discover[i].firstname %> <%= discover[i].lastname %> </h4>
                       <h5 class="card-text"><%= discover[i].who %></h5>

                   <% for(var j=0; j< discover[i].field.length; j++) { %>
                     <div class="card-links">
                         <% if (typeof discover[i].field != "string") { %>
                           <span><a href="../meet/<%=  discover[i].field[j] %> "><%=  discover[i].field[j] %></a>  | </span>

                       <% }else{%>
                           <span><a href="../meet/<%=  discover[i].field %> "><%=  discover[i].field %></a></span>
                           </div>
                         <% break%>

                       <% }%>

                     </div>
                   <% }%>
                   <a href="../profile/<%= discover[i].username%>" class="btn btn-info">Learn More</a>
                     </div>

                   </div>
         <% } %>
              </div>

            </div>



          <div class="card-deck card ">
            <div class="card-body">
              <h4>Top Opportunity for You</h4>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
            </div>
          </div>


          <div class="card-deck card odd">
            <h4>Discover</h4>
            <div class="row">
              <div class="card">

                <h4>Top Headlines for Today</h4>
                <h5 class="text-muted"> <%= news[0].title %></h5>
              <% if (news[0].urlToImage) { %>
                <img id="postImg" src=<%= "" + news[0].urlToImage %> >
                <% }%>
                <p><%= news[0].description  %></p>
                <a  target=”_blank” href=<%= "" + news[0].url %> class="btn btn-info">Read More Here</a>
              </div>
              <div class="card">

                <h4>Top Headlines for Today</h4>
                <h5 class="text-muted"> <%= news[1].title %></h5>
              <% if (news[1].urlToImage) { %>
                <img id="postImg" src=<%= "" + news[1].urlToImage %> >
                <% }%>
                <p><%= news[1].description  %></p>
                <a  target=”_blank” href=<%= "" + news[1].url %> class="btn btn-info">Read More Here</a>
              </div>
            </div>
        </div>

      <!-- </div> -->
  </section>

<%- include('footer'); -%>
