<%- include('header'); -%>

<%- include('nav'); -%>

  <section class="main bg">

    <%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
 <div class="col-md-9">
    <div class="still card">
      <div class="card-deck card odd">
         <h2>OTHERS IN YOUR FIELD!</h2>
         <div class="row">
           <% for(var i=0; i< discover.length; i++) { %>
             <div class="card users">
               <img class="profileImg"src="../<%= discover[i].imgPath%>">
               <div class="card-body">
                 <h4 class="card-title"><%= discover[i].firstname %> <%= discover[i].lastname %> </h4>
                 <h5 class="card-text"><%= discover[i].who %></h5>

             <% for(var j=0; j< discover[i].field.length; j++) { %>
               <div class="card-links">
                   <% if (typeof discover[i].field != "string") { %>
                     <span><a href="../meet/<%=  discover[i].field[j] %> "><%=  discover[i].field[j] %></a> | </span>

                 <% }else{%>
                     <span><a href="../meet/<%=  discover[i].field %> "><%=  discover[i].field %></a> | </span>
                     </div>
                   <% break%>

                 <% }%>

               </div>
             <% }%>
             <a href="../profile/<%= discover[i].userId%>" class="btn btn-info">CONNECT</a>
               </div>

             </div>
   <% } %>
        </div>
      </div>



          </section>

        <%- include('footer'); -%>
