<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

  <%- include('sidebar'); -%>
<!-- User's Profile Page: personal information and connections made -->
<div class="col-md-9">
  <div class="still card">

    <div class="card-deck card odd">
        <% if (user.local.email == discover.username){%>
          <h2>YOUR PROFILE</h2>
      <%  }else{%>
             <h2>USER PROFILE</h2>
          <% }%>
               <div class="card users">
                 <img class="profileImg"src="../<%= discover.imgPath%>">
                 <div class="card-body">
                   <h4 class="card-title"><%= discover.firstname %> <%= discover.lastname %> </h4>
                   <h5 class="card-text"><%= discover.who %></h5>

               <% for(var j=0; j< discover.field.length; j++) { %>
                 <div class="card-links">
                     <% if (typeof discover.field != "string") { %>
                       <span><a href="../meet/<%=  discover.field[j] %> "><%=  discover.field[j] %></a> | </span>

                   <% }else{%>
                       <span><a href="../meet/<%=  discover.field %> "><%=  discover.field %></a> | </span>
                       </div>
                     <% break%>

                   <% }%>
                 </div>
               <% }%>

              <%function checkStatus(){%>
                <% if (user.local.email != discover.username){%>
                  <% for(var z = 0; z< profile[0].sentRequests.length; z++){%>
                      <%  if(profile[0].sentRequests[z]==discover.username){%>
                          <% return "pending"%>
                        <% }%>
                  <% } %>
                <%  return "connect"%>
            <%  } %>
        <%  } %>

        <%if(checkStatus() == "pending"){%>
                  <button class="disabled btn btn-info">PENDING</button>
            <%}else if ((checkStatus() == "connect") && (user.local.email != discover.username) && (profile[0].connections != discover.username)){%>
                    <button class="connect-btn btn btn-info">CONNECT</button>
            <%}%>
                 </div>
 </div>
  </div>
    <!-- Display user's connections -->

    <% if (connections.length>0){%>
                <div class="card-deck card even">

                    <h2><%= discover.firstname %>'s Connections!</h2>
                    <% for(var k=0; k< connections.length; k++) { %>
                        <div class="card users">
                          <img class="profileImg"src="../<%= connections[k].imgPath%>">
                          <div class="card-body">
                            <a href="../profile/<%=connections[k].username%>"<h3 class="card-title"><%= connections[k].firstname %> <%= connections[k].lastname %> </h3></a>
                            <h5 class="card-text"><%= connections[k].who %></h5>
                        <% for(var j=0; j< connections[k].field.length; j++) { %>
                          <div class="card-links">
                              <% if (typeof connections[k].field != "string") { %>
                                <span><a href="../meet/<%=  connections[k].field[j] %> "><%=  connections[k].field[j] %></a> | </span>
                            <% }else{%>
                                <span><a href="../meet/<%=  connections[k].field %> "><%=  connections[k].field %></a> | </span>
                                </div>
                              <% break%>
                            <% }%>
                          </div>
                        <% }%>
                      <%if((user.local.email != connections[k].username) &&(profile[0].connections != connections[k].username)){%>
                          </div>
                        <a href="../profile/<%=connections[k].username%>" class="connect btn btn-info" >CONNECT</a>

                        <% }%>
                          </div>
              <% } %>

       <% }%>






        </div>
    </section>

<%- include('footer'); -%>
