<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

  <%- include('sidebar'); -%>
<!-- User's Profile Page: personal information and connections made -->
<div class="col-md-9">
  <div class="still card">

    <div class="card-deck card odd">
        <% if (user.local.email == discover.username){%>
          <h2>YOUR PROFILE</h2>
      <%  }else{%>
             <h2>USER PROFILE</h2>
          <% }%>
               <div class="card users">
                 <img class="profileImg"src="../<%= discover.imgPath%>">
                 <div class="card-body">
                  <a href="../profile/<%= discover.username%>"> <h4 class="card-title"><%= discover.firstname %> <%= discover.lastname %> </h4> </a>
                   <h5 class="card-text"><%= discover.who %></h5>

               <% for(var j=0; j< discover.field.length; j++){ %>
                  <div class="card-links">
                     <% if (typeof discover.field != "string") { %>
                       <span><a href="../meet/<%=  discover.field[j] %> "><%=  discover.field[j] %></a> | </span>

                   <%}else{%>
                       <span><a href="../meet/<%=  discover.field %> "><%=  discover.field %></a> </span>
                       </div>
                     <% break%>
                   <% }%>
                 </div>
               <% }%>

              <%function checkStatus(checkOther){
                if(checkOther=== user.local.email){
                  return "empty"
                }
                 if (status =="false"){
                   for(var z = 0; z< profile[0].sentRequests.length; z++){
                        if((profile[0].sentRequests[z]== checkOther) == true){
                           return "pending"
                         }
                    }
                    for(var b = 0; b< profile[0].receivedRequests.length; b++){
                              if((profile[0].receivedRequests[b]== checkOther) == true){
                                 return "accept"
                               }
                         }
                  if(profile[0].connections.find((connection)=>
                  connection===checkOther)){
                     return "empty"
                     }
                  return "connect"
              }
          } %>

        <%if(checkStatus(discover.username) == "pending"){%>
                  <button class="disabled btn btn-info">PENDING</button>
            <%}else if ((checkStatus(discover.username) == "connect") ){%>
                    <button class="connect-btn btn btn-info">CONNECT</button>
            <%}else if ((checkStatus(discover.username) == "accept") ){%>
                   <button data-email="<%= discover.username%>" class="accept-btn btn btn-info">ACCEPT</button>
                   <button data-email="<%= discover.username%>" class="decline-btn btn btn-danger">DECLINE</button>
            <%} else if ((checkStatus(discover.username) == "empty") ){%>
              <!--THIS IS EMPTY -->
                <%  } %>
                 </div>
 </div>
  </div>
    <!-- Display user's connections -->

    <% if (connections.length>0){%>
                <div class="card-deck card even">

                    <h2><%= discover.firstname %>'s Connections!</h2>
                    <% for(var k=0; k< connections.length; k++) { %>
                        <div class="card users">
                          <img class="profileImg"src="../<%= connections[k].imgPath%>">
                          <div class="card-body">
                            <a href="../profile/<%=connections[k].username%>"<h3 class="card-title"><%= connections[k].firstname %> <%= connections[k].lastname %> </h3></a>
                            <h5 class="card-text"><%= connections[k].who %></h5>
                          <div class="card-links">
                        <% for(var j=0; j< connections[k].field.length; j++) { %>
                              <% if (typeof connections[k].field != "string") { %>
                                <span><a href="../meet/<%=  connections[k].field[j] %> "><%=  connections[k].field[j] %></a> | </span>
                            <% }else{%>
                                <span><a href="../meet/<%=  connections[k].field %> "><%=  connections[k].field %></a> </span>

                              <% break%>
                            <% }%>

                        <% }%>
                          </div>
          <%const connectionStatus= checkStatus(connections[k].username)%>
                  <%if(connectionStatus == "pending"){%>
                                  <button class="disabled btn btn-info">PENDING</button>
                            <%}else if ((connectionStatus == "connect") ){%>
                                    <button class="connect-btn btn btn-info">CONNECT</button>
                          <%}else if ((connectionStatus == "accept") ){%>
                            <button data-email="<%= connections[k].username%>" class="accept-btn btn btn-info">ACCEPT</button>
                            <button data-email="<%= connections[k].username%>" class="decline-btn btn btn-danger">DECLINE</button>
                            <%} else if ((connectionStatus == "empty")){%>
                              <!--THIS IS EMPTY -->
                                <%  } %>

                                  </div>
                                </div>
                        <%}%>



                  </div>

              <% } %>







        </div>
    </section>

<%- include('footer'); -%>
